@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container{
  margin: 10% auto;
  display:flex;
  width: 320px;
  height: 480px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0;
  padding-left:20px;
  background-color: rgb(27, 2, 34);
  color: rgb(224, 224, 224);
  h2{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  h3{
    font-size: 13px;
    margin-bottom: 1px;
    cursor: pointer;
    padding:  4px 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    &:hover{
      background-color:  rgb(70, 48, 90);
    }
  }
  h5{
    margin-top:0;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
  }
}

.left-box{
  box-sizing: border-box;
  text-align:left;
  width: 22%;
  padding-right: 5px;
  box-shadow: 10px 0 5px rgba(0,0,0,0.2);
}

.right-box{
  width: 75%;
  padding-left:10px;
  padding-right: 15px;
  margin-left: 10px;
  border-radius:0 20px 20px 0;
  background-color: rgb(70, 48, 90);
  h3{
    margin:0;
    font-size:12px;
    padding:0;
  }
  .message-box{
    height: 90%;
    overflow-y: auto;
    margin-bottom: 10px;
  }

  .message-style{
    padding: 5px;
    margin: 5px auto;
    box-sizing: border-box;
    background-color: rgb(35, 1, 44);
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  }
  p{
    letter-spacing: 1px;
    font-weight: lighter;
  }
}

.search-term{
  background-color: rgb(208, 190, 212);
  color:rgb(27, 2, 34);
  margin-right: 4px;
  border: none;
  padding: 2px;
  width:70%;
}

.submit-button{
  background-color: rgb(35, 1, 44);
  border: 2px solid rgb(35, 1, 44);
  border-radius: 5px;
}

.selected{
  font-weight:bold;
  font-size: 14px;
}